*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: rgb(15, 23, 42);
  line-height: 1.5;
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.nav-bar{
  padding:20px 30px;
}

.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 35px;
  text-shadow: 0 0 10px rgb(135, 206, 235);
}

.links{
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.links li a:hover{
  transform: scale(1.5);
  text-shadow: 0 0 8px rgb(135, 206, 235);
}

.main{
  padding-left: 30px;
  display: flex;
  gap: 3vw;
}

.left{
  width: 40vw;
  margin-top: 8%;
}

#hello{
  color: rgb(0, 217, 255);
  font-size: 50px;
  font-weight: bold;
}


#name{
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: bolder;
}

#edu{
  color: rgb(0, 217, 255);
  font-size: 40px;
  font-weight: bold;
}

#intro{
  margin-top: 15px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: bold;
}

.right{
  margin-top: 5%;
}



.window{
  width: 40vw;
  height: 60vh;
  background-color: rgb(29, 44, 80);
  box-shadow: 0 0 20px rgb(110,231,183);
  padding: 20px;
  border-radius: 15px;
  margin-left: 150px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.top-bar{
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgb(32, 42, 55);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.top-bar .dot{
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.dot.red{
  background-color: rgb(255, 95, 86);
  margin-right: 2%;
}

.dot.yellow{
  background-color: rgb(255, 189, 46);
  margin-right: 2%;

}

.dot.green{
  margin-right: 8%;
  background-color: rgb(39, 201, 63);
}

.file-name {
  font-size: 22px !important;
  color: rgb(203, 213, 225);
  font-weight: bold;
}

.snippet{
  font-size: 17px;
}

.keyword {
  color: rgb(125, 211, 252); 
  font-weight: bold;
}

.class-name {
  color: rgb(165, 180, 252); 
}

.func {
  color: rgb(110, 231, 183); 
}

.string {
  color: rgb(250, 204, 21); 
}

.typewriter code{
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
  width: 0;
  animation: typing 5s linear forwards;
  font-family: 'Courier New', monospace;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent; }
}

body.about-page {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.content{
  margin-top: 5%;
  margin-left: 2.5%;
  font-size: 30px;
  color:aqua;
}

#about-title{
  padding-bottom: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#para-one,#para-two,#para-three{
  font-size: 25px;
  color: rgb(209, 213, 219);
  padding-bottom: 2vw;
}

.acad{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grades{
  border-radius: 30px;
  margin-top: 3vw;
  background-color: rgb(30, 55, 109);
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  padding: 2rem;
  margin: 3rem 3rem;
}

.card{
  background-color: rgb(63, 100, 187);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  color: aliceblue;
  font-weight: bold;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.card:hover{
  transform: translateY(-5px);
}

.card h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.3rem;
}

.edu-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vw;
  
}

.school{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.comp,.sch,.high-school{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(116, 189, 252);
  padding: 2rem 2rem;
  font-size: 20px;
  color: rgb(28, 28, 28);
  border-radius: 80px;
  width: 70vw;
}

.tech-skills {
  margin-top: 1rem;
  text-align: center;
}

.tech-title {
  font-size: 3rem;
  color: cyan;
  margin-bottom: 2rem;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

.grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 2.5rem;
  justify-items: center;
  align-items: start;
  width: 100%;
}

.web,.languages,.ds,.back{
  background-color: rgb(50, 177, 245);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(135, 206, 235, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  border: 2px solid rgb(255, 255, 255);
}

.web-title,.back-title,.ds-title,.languages-title {
  font-size: 2rem;
  color: rgb(1, 46, 46);
  margin-bottom: 1rem;
}

.web-row,.lang-row,.ds-row,.back-row {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-box {
  background-color: rgb(13, 10, 51);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  width: 120px;
  transition: transform 0.3s ease;
}

.skill-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.skill-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.skill-box h2 {
  font-size: 1rem;
  color: white;
}


.work{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: aliceblue;
  height: 80vh;
}


.project{
  
  background-color: rgb(50, 177, 245);
  padding: 4rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(135, 206, 235, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
  border: 2px solid rgb(255, 255, 255);
}

.link-box {
  text-decoration: none;  /* remove underline */
  color: inherit;         /* keep original text color */
  display: block;         /* makes the whole area clickable */
}
